.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-container:hover {
    cursor: pointer;
}

.logo-image {
    width: 4rem;
    height: auto;
    margin-right: 1rem;
}

.logo-text {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}